<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Server" value ="200.100.100.229"/>
    <add key="DBNane" value ="SPI_LOG_2021"/>
    <add key="User" value ="sa"/>
    <add key="PW" value ="siix@123456"/>
    <add key="PoolSize" value ="400"/>
    <add key="Timeout" value ="1000"/>
    <add key="TimesSec" value ="1"/>
    <add key="SMTLine" value ="SMT99"/>
    <add key="pahtFileLog" value ="D:\SPI\"/>
    <add key="SocketIP" value ="10.0.123.141"/>
    <add key="SocketPort" value ="59009"/>
    <add key="SocketConnect" value ="1"/>
  </appSettings>
</configuration>